{{>_navbar_pagina_inicial}}

<!-- Masthead-->
<div class="container" id="page-top">
    <header class="masthead text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5 rounded-circle" src="/img/Coracao.jpg" alt="" /><!-- Masthead Heading-->
            <!-- <img class="img-fluid" src="assets/img/unimed.jpg" alt="" /> -->
            <h1 class="masthead-heading text-uppercase mb-0" style="color: #00995D;">Autismo</h1>

            <!-- Icon Divider-->
            <div class="divider-custom divider-light" style="color: #00995D;">
                <div class="divider-custom-line" style="background-color: #00995D;"></div>
                <div class="divider-custom-icon" style="color: #00995D;"><i class="fas fa-star"
                        style="color: #00995D;"></i></div>
                <div class="divider-custom-line" style="background-color: #00995D;"></div>
            </div>

            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0" style="color: #00995D;">"Autismo: apenas uma palavra.
                Não uma sentença." (Zazzle) </p>
        </div>
    </header>
    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="informativos">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase mb-0" style="color: #00995D;">Informativos</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line" style="background-color: #00995D;"></div>
                <div class="divider-custom-icon" style="color: #00995D;"><i class="fas fa-star"
                        style="color: #00995D;"></i></div>
                <div class="divider-custom-line" style="background-color: #00995D;"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row">
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto d-flex align-items-center justify-content-center h-100 w-100" data-toggle="modal" data-target="#portfolioModal1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/img/familia.png" alt="" />
                    </div>
                </div>

                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto d-flex align-items-center justify-content-center h-100 w-100" data-toggle="modal" data-target="#portfolioModal2">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/img/emergencia.jpg" alt="" />
                    </div>
                </div>

                <!-- Portfolio Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto d-flex align-items-center justify-content-center h-100 w-100" data-toggle="modal" data-target="#portfolioModal3">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/img/imagem3.png" alt="" style="width: 75%; " />
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Portfolio Section Heading-->
    <h1 class="masthead-heading text-center text-uppercase mb-0" style="color: #00995D;" id="curiosidades">Curiosidades
    </h1>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line" style="background-color: #00995D;"></div>
        <div class="divider-custom-icon" style="color: #00995D;"><i class="fas fa-star" style="color: #00995D;"></i>
        </div>
        <div class="divider-custom-line" style="background-color: #00995D;"></div>
    </div>
    <!-- Cards -->
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <!-- <img class="card-img-top" src="assets/img/tea.png" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">TEA</h5>
                    <p class="card-text">TEA – Transtorno do Espectro Autista ou Autismo: causas e tratamento. O
                        Transtorno do Espectro Autista (TEA) refere-se a uma série de condições caracterizadas por
                        desafios com habilidades sociais, comportamentos repetitivos, fala e comunicação não-verbal, bem
                        como por forças e diferenças únicas.</p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
            <div class="card">
                <!-- <img class="card-img-top" src="assets/img/dsm5.jpg" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">DSM-5</h5>
                    <p class="card-text">O experimento de Rosenhan deu início a uma transformação radical do guia de
                        referência essencial para psiquiatras: o Manual Diagnóstico e Estatístico de Transtornos Mentais
                        (DSM, sigla em inglês para Diagnostic and Statistical Manual of Mental Disorders).</p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
            <div class="card">
                <!-- <img class="card-img-top" src="assets/img/cid10.jpg" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">CID-10</h5>
                    <p class="card-text">A CID 10 fornece códigos relativos à classificação de doenças e de uma grande
                        variedade de sinais, sintomas, aspectos anormais, queixas, circunstâncias sociais e causas
                        externas para ferimentos ou doenças. A cada estado de saúde é atribuída uma categoria única à
                        qual corresponde um código CID 10.</p>
                    <a href="https://www.cid10.com.br/" target="_blank">
                        <p class="card-text"><small class="text-muted">https://www.cid10.com.br/</small></p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- About Section-->
    <section class="page-section text-white mb-0" style="background-color:white;" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase " style="color: #00995D;">SOBRE</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line" style="background-color: #00995D;"></div>
                <div class="divider-custom-icon"><i class="fas fa-star" style="color: #00995D;"></i></i></div>
                <div class="divider-custom-line" style="background-color: #00995D;"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto" style="color: #00995D;">
                    <p class="lead">Transtorno de desenvolvimento grave que prejudica a capacidade de se comunicar e
                        interagir.
                        O transtorno de autismo afeta o sistema nervoso.
                        O alcance e a gravidade dos sintomas podem variar amplamente. Os sintomas mais comuns incluem
                        dificuldade de comunicação, dificuldade com interações sociais, interesses obsessivos e
                        comportamentos repetitivos.
                    </p>
                </div>
                <div class="col-lg-4 mr-auto" style="color: #00995D;">
                    <p class="lead">O reconhecimento precoce, assim como as terapias comportamentais, educacionais e
                        familiares podem reduzir os sintomas, além de oferecer um pilar de apoio ao desenvolvimento e à
                        aprendizagem.</p>
                </div>
            </div>

            <!-- About Section Button-->
            <!-- <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/"><i class="fas fa-download mr-2"></i>Free Download!</a>
            </div> -->
        </div>
    </section>


    <!-- Copyright Section-->
    <!-- <section class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © Your Website 2020</small></div>
    </section> -->

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
                class="fa fa-chevron-up"></i></a>
    </div>
    <!-- Portfolio Modals-->
    <!-- Portfolio Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
        aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-uppercase mb-0" style="color: #00995D;">Família
                                </h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom divider-light" style="color: #00995D;">
                                    <div class="divider-custom-line" style="background-color: #00995D;"></div>
                                    <div class="divider-custom-icon" style="color: #00995D;"><i class="fas fa-star"
                                            style="color: #00995D;"></i></div>
                                    <div class="divider-custom-line" style="background-color: #00995D;"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="/img/familia1.jpg" alt="" />
                                <!-- Portfolio Modal - Text-->
                                <br>
                                <b>Dicas</b>
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <br>
                        Pergunte a seu filho como esta sendo o dia e o estimule a manter a conversa por
                        pelo menos 3 minutos <br><br>
                        Mostre uma foto de uma pessoa que seu filho não conheça e explique quem é <br><br>
                        Hoje seu filho é o responsável por arrumar a mesa para o almoço <br><br>
                        Crie um pequeno passo a passo de uma atividade corriqueira <br><br>
                        Nos momentos em família, estimule o contato com os demais familiares. <br><br>
                        Inicie a conversa: se você fosse ao cinema hoje, o que iria fazer? <br><br>
                        Converse com seu filho sobre o que fazer em situações de emergência <br><br>


                        <button class="btn btn-primary" href="#" data-dismiss="modal"><i
                                class="fas fa-times fa-fw"></i>Close Window</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog"
        aria-labelledby="portfolioModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-uppercase mb-0" style="color: #00995D;">Situação
                                    de Emergência</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom divider-light" style="color: #00995D;">
                                    <div class="divider-custom-line" style="background-color: #00995D;"></div>
                                    <div class="divider-custom-icon" style="color: #00995D;"><i class="fas fa-star"
                                            style="color: #00995D;"></i></div>
                                    <div class="divider-custom-line" style="background-color: #00995D;"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5"
                                    src="/img/emergecia1.jpg" alt="" /><!-- Portfolio Modal - Text-->
                                <br>
                                <b>Dicas</b>
                                <br>
                                <div class="container">
                                    <br>
                                    Em caso de emergências médicas ligue para 4020-4020<br><br>
                                    Saiba quais elementos, objetos ou palavras de conforto podem acalmar seu filho
                                    em
                                    casos de crise.<br><br>
                                    Converse com seus filhos sobre como fazer em caso de emergência<br><br>
                                    Crie junto com seu filho uma lista telefônica de contatos de emergência<br><br>
                                    Se seu filho tomar remédios controlados ,mantenha sempre uma cópia da
                                    receita<br><br>
                                    Identifique os pontos que causam ansiedade no seu filho<br><br>
                                    Ensine seu filho a nadar<br><br>


                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i
                                            class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog"
        aria-labelledby="portfolioModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-uppercase mb-0" style="color: #00995D;">
                                    Educacional</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom divider-light" style="color: #00995D;">
                                    <div class="divider-custom-line" style="background-color: #00995D;"></div>
                                    <div class="divider-custom-icon" style="color: #00995D;"><i class="fas fa-star"
                                            style="color: #00995D;"></i></div>
                                    <div class="divider-custom-line" style="background-color: #00995D;"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5"
                                    src="/img/imagem4.png" alt="" /><!-- Portfolio Modal - Text-->

                                <b>Dicas</b>
                                <br>
                                <div class="container">
                                    <br>
                                    A recusa de escola em matricular alunos autistas é crime! <br><br>
                                    Lei 13.370/2016: Reduz a jornada de trabalho de servidores públicos com filhos
                                    autistas<br><br>
                                    Pessoas com TEA têm os mesmos direitos garantidos a todos os cidadãos<br><br>
                                    Busque profissionais especializados para atender o seu filho através das
                                    recomendações em nosso site<br><br>
                                    Participar de grupos de apoio é um ótimo jeito de compartilhar experiências<br><br>
                                    Se informe sobre os direitos das pessoas com TEA<br><br>
                                    As consultas on-line são uma opção para manter os acompanhamentos em dia!<br><br>


                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i
                                            class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>