<!-- Footer-->
<footer class="footer text-center" style="background-color: #00995D;" id=contatos>
    <div class="container">
        <!-- <div class="row"> -->
            <!-- Footer Location-->
            <!-- <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">Mooca<br />São Paulo - SP</p>
            </div> -->
            <!-- Footer Social Icons-->
            <!-- <div class="col-lg-4 mb-5 mb-lg-0 ">  -->
                <h4 class="text-uppercase mb-4">contatos</h4>
                <!-- <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/kamila.bandeira.37"><i class="fab fa-fw fa-facebook-f"></i></a> -->
                <!-- <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a> -->
                <!-- <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/kamilabandeira/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/kamilabandeira"><i class="fab fa-github"></i></a> -->
            <!-- </div> -->


            <!-- Footer About Text
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Email</h4>
                <p class="lead mb-0">kamila_bandeira@hotmail.com <a href="http://startbootstrap.com"></a></p>
            </div>  -->
        <!-- </div> -->
    </div>
    <!-- <a class="lead mb-0">kamila_bandeira@hotmail.com </a>  -->
</footer>
