{{>_navbar_login}}

<div class="container">
  <div class="card mx-auto">
    <div class="card-body">

      <form class="px-4 py-3" action="/criar_conta/salvar" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="email@exemplo.com" required>
        </div>

        <br>

        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" name="senha" placeholder="Senha" required>
        </div>

        <br>

        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="nome" placeholder="Digite seu nome" required>
        </div>

        <br>

        {{!-- <div class="form-group">
          <label for="perfil">Perfil</label>
          <input type="text" class="form-control" name="perfil" placeholder="Digite seu pefil">
        </div> --}}

        <label for="perfil">Perfil</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="perfil" id="exampleRadios1" value="colaborador" required>
          <label class="form-check-label" for="exampleRadios1">
            Colaborador
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="perfil" id="exampleRadios2" value="paciente" required>
          <label class="form-check-label" for="exampleRadios2">
            Paciente
          </label>
        </div>

        <br>

        <button type="submit" class="btn btn-success">Salvar</button>
      </form>
    </div>
  </div>
</div>