{{>_navbar_outras_paginas}}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Atendimento</h5>
            <p class="card-text">Consulte a disponibilidade dos atendimentos.
            </p>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Selecione a especialidade desejada: </label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Selecionar</option>
                    <option>Neurologista</option>
                    <option>Otorrinolaringologista</option>
                    <option>Fonoaudiologia</option>
                    <option>Psicologo</option>
                    <option>Psiquiatra</option>
                    <option>Terapeuta Ocupacional</option>
                    <option>Fisioterapeuta</option>
                </select>
            </div>

            <a href="#" class="btn btn-primary">Consultar</a>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Agendamento</h5>
            <p class="card-text">Escolha o melhor horário para o seu Teleatendimento.
            </p>

            <br>
            <br>

            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th style="width: 50%;" scope="col">Dia</th>
                            <th style="width: 20%;" scope="col">Hora</th>
                            {{!-- <th scope="col">Local</th> --}}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                            </th>

                            <td style="width: 50%;">Segunda-feira (07/09/2020)</td>
                            <td style="width: 20%;">10:30</td>
                            {{!-- <td>mdo</td> --}}
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                            </th>
                            <td>Terça-feira (08/09/2020)</td>
                            <td>14:30</td>
                            {{!-- <td>fat</td> --}}
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                            </th>
                            <td>Quarta-feira (09/09/2020)</td>
                            <td>14:30</td>
                            {{!-- <td>fat</td> --}}
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                            </th>
                            <td>Quinta-feira (10/09/2020)</td>
                            <td>14:30</td>
                            {{!-- <td>fat</td> --}}
                        </tr>
                        <tr>
                            <th scope="row">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                            </th>
                            <td>Sexta-feira (11/09/2020)</td>
                            <td>14:30</td>
                            {{!-- <td>fat</td> --}}
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>
            <br>

            <a href="#" class="btn btn-primary">Agendar</a>
        </div>
    </div>

</div>