{{>_navbar_outras_paginas}}

<div class="container">
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <h5 class="card-title">Registro Quinzenal</h5>
            <p class="card-text">O Registro Quinzenal deve ser preferencialmente preenchido pelo paciente, mas a família e/ou responsáveis podem auxilia-lo ou responder por ele se sentirem que o mesmo precisa de ajuda, devendo preferencialmente, avisar ao médico responsável. </p>
            <br>
            <div class="container">
                <b>1- Qual imagem representa melhor como você se sentiu durante a última quinzena?</b>
                <br>
                <br>

                    <div class="container">  
                        <div class="row">                      
                            {{!-- <img  src="/img/acelerador_rostinhos/branco.png" style="width: 28%;"> --}}
                            <img class="card-img-top" src="/img/acelerador_rostinhos/acelerador.png" style="width: 25%;">
                        </div>  

                        <div class="container ml-5">
                            <div class="row">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">
                                        <img src="/img/barra_rostinhos/1.png" style="width: 30%;">
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">
                                        <img src="/img/barra_rostinhos/2.png" style="width: 30%;">
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">
                                        <img src="/img/barra_rostinhos/3.png" style="width: 30%;">
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option4">
                                    <label class="form-check-label" for="inlineRadio3">
                                        <img src="/img/acelerador_rostinhos/4.png" style="width: 30%;">
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option5">
                                    <label class="form-check-label" for="inlineRadio3">
                                        <img src="/img/barra_rostinhos/5.png" style="width: 30%;">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>

            <b>2- Durante a última quinzena, qual imagem representa melhor seu relacionamento interpessoal?</b>
            <br>
            <img class="card-img-top" src="/img/form2.png" style="width: 30%;">
            <br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                <label class="form-check-label" for="inlineRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option4">
                <label class="form-check-label" for="inlineRadio3">4</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option5">
                <label class="form-check-label" for="inlineRadio3">5</label>
                </div>
                <br>
                <br>
                <br>
            <b>3-Durante a última quinzena, você tentou algo novo?</b>
            <img class="card-img-top" src="/img/form3.png" style="width: 30%;">
            <br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <br>
                <br>
                <br>
            <b>4-Você está tomando algum remédio controlado?</b>
            <br>
            <img class="card-img-top" src="/img/form3.png" style="width: 30%;">
            <br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <br>
                <br>
                <br>
            <b>5- Durante a última quinzena eu senti que precisava de ajuda, mas não sabia como pedir?</b>
            <br>
            <img class="card-img-top" src="/img/form3.png" style="width: 30%;">
            <br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <br>
                <br>
                <br>
            <b>6- Você tem se sentido ansioso ou deprimido?</b>
            <img class="card-img-top" src="/img/form3.png" style="width: 30%;">
            <br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <br>
                <br>
                <br>
            <b>7- Durante a última quinzena você tem conversado com sua familia ou amigos sobre como você está se sentindo?</b>
            <img class="card-img-top" src="/img/form3.png" style="width: 30%;">
                <br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <br>
                <br>
                <br>
            <b>8- Qual escala você acha que representa seu bem estar psicológico durante os últimos quinze dias?</b>
            <img class="card-img-top" src="/img/form1.png" style="width: 30%;">
            <br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                <label class="form-check-label" for="inlineRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option4">
                <label class="form-check-label" for="inlineRadio3">4</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option5">
                <label class="form-check-label" for="inlineRadio3">5</label>
                </div>
                <br>
                <br>
                <br>
            <b>9- Você sente que as pessoas com que você convive têm dificuldades de te entender?</b>
            <br>
            <img class="card-img-top" src="/img/form3.png" style="width: 30%;">
                <br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <br>
                <br>
                <br>
                <br>
            <b>10- Você acha que tem evoluído em termos de convivência interpessoal em relação á ultima vez que respondeu ao questionário quinzenal?</b>
            <br>
            <img class="card-img-top" src="/img/form3.png" style="width: 30%;">
                <br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <br>
                <br>


            <br>
            <br>
            <a href="#" class="btn btn-primary">Salvar</a>
        </div>
    </div>
</div>