{{>_navbar_outras_paginas}}

<h2 class="page-section-heading text-center text-uppercase mb-0" style="color: #00995D;">Games</h2>

<br>

<div class="container">
  <div class="card-deck">
    <div class="card border-success">
      <div class="card-body">
        <h5 class="card-header bg-transparent border-success">Educacional</h5>
        <p class="card-text">
        <ul>
          <li> Converse com sua família sobre algo que aprendeu hoje</li>
          <br>
          <li> Converse com sua família sobre uma experiência que gostaria de experimentar</li>
          <br>
          <li> Desenhe seu animal preferido </li>
          <br>
          <li> Escreva seu nome por extenso </li>
          <br>
          <li> Procure no mapa do Brasil o estado em que você mora </li>
          <br>
          <li> Desenhe um relógio marcando as horas </li>
          <br>
          <li>Jogue um jogo de memória </li>
        </ul>
        </p>
        <button type="button" class="btn btn-outline-primary">Gerar desafios diário</button>
      </div>
    </div>

    <br>

    <div class="card border-warning">
      <div class="card-body">
        <h5 class="card-header bg-transparent border-warning">Comportamental</h5>
        <p class="card-text">
        <ul>
          <li> Quando for conversar com alguém, olhe nos olhos da outra pessoa. </li>
          <br>
          <li> Pergunte para um amigo o que ele gosta de fazer no tempo livre </li>
          <br>
          <li> Tente manter uma conversa com alguém que você gosta por 5 minutos </li>
          <br>
          <li> Escute uma música que você gosta </li>
          <br>
          <li> Pergunte para alguém que você gosta como foi o dia dele ou dela </li>
          <br>
          <li> Pare um minuto para pensar em como você está se sentindo agora </li>
          <br>
          <li> Quando não quiser mais conversar com alguém, agradeça e peça licença antes de sair. </li>
        </ul>
        </p>
        <button type="button" class="btn btn-outline-primary">Gerar desafios diário</button>
      </div>
    </div>

    <br>

    <div class="card border-success">
      <div class="card-body">
        <h5 class="card-header bg-transparent border-success">Sentimental</h5>
        <p class="card-text">
        <ul>
          <li>Se estiver se sentindo angustiado ou ansioso, converse sobre isso com sua família.</li>
          <br>
          <li>Identifique o que te deixa ansioso</li>
          <br>
          <li>Pare para pensar em como está se sentindo hoje</li>
          <br>
          <li>Pare para pensar em algo que te faz feliz</li>
          <br>
          <li>Sorria quando estiver se sentindo feliz</li>
          <br>
          <li>Pergunte para seus familiares como eles estão se sentindo hoje</li>
          <br>
          <li>Pergunte para seus familiares sobre alguma lembrança feliz</li>
        </ul>
        </p>
        <button type="button" class="btn btn-outline-primary">Gerar desafios diário</button>
      </div>
    </div>
  </div>
</div>