{{>_navbar_outras_paginas}}

<div class="container">
    <div class="card-deck mx-auto">
    <div class="card">
        <img class="card-img-top" src="/img/images5.png" alt="Imagem de capa do card">
        <div class="card-body">
        <h5 class="card-title">Registro quinzenal</h5>
        <p class="card-text">Aqui temos espaço para nós mostrar como se sente.</p>
        </div>
        <div class="card-footer">
        <small class="text-muted">#acompanhamento</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/img/imagem3.png" alt="Imagem de capa do card">
        <div class="card-body">
        <h5 class="card-title">Desafios</h5>
        <p class="card-text">Um pequeno espaço com jogos para ganhamos algumas conquistas com nossas evoluçoes.</p>
        </div>
        <div class="card-footer">
        {{!-- <small class="text-muted">Atualizados 3 minutos atrás</small> --}}
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/img/emergecia1.jpg" alt="Imagem de capa do card">
        <div class="card-body">
        <h5 class="card-title">Atendimento</h5>
        <p class="card-text">Nosso espaço para atendimento.</p>
        </div>
        <div class="card-footer">
        {{!-- <small class="text-muted">Atualizados 3 minutos atrás</small> --}}
        </div>
    </div>
    </div>
</div>